# Dependencies
node_modules/

# Build outputs
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Misc
*.local
*.swp
*.swo
coverage/
.eslintcache
**/*.tsbuildinfo
